body {
  height: 100%;
  background: linear-gradient(-50deg, white, rgb(250, 160, 150), #f7efe2 );
}

h1,
h2 {
  color: blue;
  padding-top: 15px;
}

.description {
  color: blue;
}

.toast {
  float: left;
}

.tooltip {
    white-space:pre-wrap;
}

/* Name on far right of navigation bar */
.navbar-light .navbar-brand {
  color: #ffffff;
  background-color: darkturquoise;
  margin-left: 10px;
  border-radius: 15px;
}

.navbar-brand {
  font-size: 32px;
  font-family: "Merriweather Sans", sans-serif;
  padding: 0px 10px;
}

/* Links to each page on left of navbar */
.navbar-nav {
  margin-left: 80%;
  padding-right: 15px;
}

.nav-link {
  font-size: 19px;
}

/* Icons on the top right corner */
.details {
  padding: 10px;
  float: right;
  background-color: white;
}

.details img{
  width: 40px;
  height: 40px;
  /* margin: 0rem; */
}

/* 'Intro' section.......................... */

.intro {
  clear: both;
}

/* White background behind content */
.index-col {
  /* background-color: white; */
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 25px;
}

/* Face image under 'About Me' */
.index-img {
  float: left;
  width: 188px;
  height: 252px;
  transform: rotate(24deg);
  border-radius: 60%;
  padding-right: 20px;
}

/* Text  */
.no-wrap-text {
  overflow: hidden;
}

/* Yellow highlited text */
mark {
  background-color: yellow;
}

/* Social media links */
a:hover,
a:visited {
  color: purple;
}

.socials {
  margin-top: 265px;
}

.socials-links {
  list-style-type: none;
  padding: 0px;
  margin-left: 15px;
}

/* Both social media links and face image */
aside {
  float: left;
}

/* Images to the left of social media links */
.link-img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* 'Portfolio' section............................... */

/* White background behing content */
.portfolio-col {
  border-radius: 25px;
  /* background-color: white; */
  margin-top: 10px;
  /* margin-bottom: 80px; */
}

.bottom {
  margin-bottom: 130px;
}

.featured {
  border: 5px solid gold;
}

/* Footer */
footer {
  color: turquoise;
  background: linear-gradient(360deg, #696969 85.72%, #00ced1 14.28%);
  padding: 20px 15px 15px 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.footer-email h5 {
  margin-top: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .index-col .portfolio-col{
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .index-col .portfolio-col {
    width: 80%;
  }

  .no-wrap-text {
    overflow: visible;
  }
}

@media screen and (max-width: 400px) {
  .index-col .portfolio-col {
    width: 100%;
  }

  .no-wrap-text {
    overflow: visible;
  }
}

@media screen and (max-width: 368px) {
  /* .no-wrap-text {
    clear: left;
  } */

  .index-img {
    width: 160px;
    height: 200px;
  }

  h3 {
    font-size: 1.50rem;
  }
}

@media screen and (max-width: 319px) {
  .index-img {
    width: 140px;
    height: 180px;
  }

  h3 {
    font-size: 1.20rem;
  }
}