body {
  height: 100%;
}

h1,
h2 {
  color: darkturquoise;
  padding-top: 15px;
}

/* Name on far right of navigation bar */
.navbar-light .navbar-brand {
  color: #ffffff;
  background-color: darkturquoise;
  margin-left: 10px;
  border-radius: 15px;
}

.navbar-brand {
  font-size: 32px;
  font-family: "Merriweather Sans", sans-serif;
  padding: 0px 10px;
}

/* Links to each page on left of navbar */
.navbar-nav {
  margin-left: 80%;
  padding-right: 15px;
}

.nav-link {
  font-size: 19px;
}

/* 'About Me' page.......................... */

/* White background behind content */
.index-col {
  background-color: white;
  margin-top: 40px;
  margin-bottom: 80px;
  border-radius: 25px;
}

/* Face image under 'About Me' */
.index-img {
  float: left;
  width: 188px;
  height: 252px;
  transform: rotate(24deg);
  border-radius: 60%;
  padding-right: 20px;
}

/* Text  */
.no-wrap-text {
  overflow: hidden;
}

/* Yellow highlited text */
mark {
  background-color: yellow;
}

/* Social media links */
a:hover,
a:visited {
  color: purple;
}

.socials {
  margin-top: 265px;
}

.socials-links {
  list-style-type: none;
  padding: 0px;
  margin-left: 15px;
}

/* Both social media links and face image */
aside {
  float: left;
}

/* Images to the left of social media links */
.link-img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* 'Portfolio' page............................... */

/* White background behing content */
.portfolio-col {
  border-radius: 25px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 80px;
}

/* Projects Gallery*/

.swiper-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
  z-index: 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 430px;
}

#idx-0 {
  width: 524px;
}

#idx-1 {
  width: 600px;
}

#idx-2 {
  width: 426px;
}
#idx-3 {
  width: 500px;
}

.deployment {
  margin-left: 30%;
}

.swiper-slide button {
  margin-top: 450px;
  margin-right: 10px;
}
/* 'Contact' page................................. */

/* Bootstrap Form */
.contact-form {
  background-color: white;
  margin-top: 40px;
  border-radius: 25px;
  margin-bottom: 80px;
}

.form-group {
  margin-left: 20px;
}

/* Submit button */
.btn-primary {
  margin-bottom: 20px;
  background-color: darkturquoise;
  border: none;
  padding: 10px 16px;
  font-weight: bolder;
}

/* Footer */
footer {
  /* margin-top: 40px; */
  text-align: center;
  color: turquoise;
  background: linear-gradient(360deg, #696969 85.72%, #00ced1 14.28%);
  padding: 20px 15px 15px 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

footer span {
  opacity: 0.5;
}

/* The highest breakpoint for collpasing navbar to 'hamburger menu' that bootstrap has is 1200px. */
/* I needed the navbar to collapse after 1600px because the navbar text on my page was wrapping after that point. */

@media (min-width: 1440px) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .index-col .portfolio-col,
  .contact-form {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .index-col .portfolio-col,
  .contact-form {
    width: 80%;
  }

  .no-wrap-text {
    overflow: visible;
  }

  .swiper-slide {
    height: 243px;
  }

  #idx-0 {
    width: 300px;
  }

  #idx-1 {
    width: 324px;
  }

  #idx-2 {
    width: 240px;
  }
  #idx-3 {
    width: 280px;
  }
}

@media screen and (max-width: 400px) {
  .index-col .portfolio-col,
  .contact-form {
    width: 100%;
  }

  .no-wrap-text {
    overflow: visible;
  }

  .navbar-brand {
    font-size: 28px;
  }

  div[class*="project"] img {
    width: 90%;
    height: 90%;
  }

  #btn-1,
  #btn-3 {
    margin-left: 30px;
  }
}
