/*Common to whole page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Header*/
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}
/*h1 attribute of header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 mark {
     color: #d9dcd6;
     background-color: inherit;
}

/*Navigation on top right hand side*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*Enlarged image under header*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Search Engine Optimization & Social Media Marketing main content images*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Online Reputation Management main content image*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* Main content*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Main content paragraphs*/
main section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}
/*Main content images*/
main img  {
    max-height: 200px;
}
/*Main content headings*/
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*List of benefits on right side*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
/*benefits paragraphs*/
aside section{
    margin-bottom: 32px;
    color: #ffffff;
}
/*benefits headings*/
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*benefits images*/
aside img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*footer*/
footer {
    padding: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*footer heading*/
footer h2 {
    font-size: 20px;
}
