.swiper-wrapper img {
    width: 100px;
    height: 100px;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0;
}

.swiper-pagination {
    margin-top: 10px;
    position: relative;
}